body{
    background-color: black;
    height: 97vh;
    width: 99vw;
}

#root{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container{
    background-color: #27272a;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.home-page-container, .register-page-container, .login-page-container, .task-list-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 48px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.small-heading{
    color: #a1a19e;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

.button-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button{
    height: 50px;
    width: 350px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #7c3aed;
    border: 1px solid #51515a;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;
}

.register-button:hover{
    background-color: #5c29b3;
}

.login-button{
    height: 50px;
    width: 350px;
    border-radius: 15px;
    font-family: sans-serif;
    border: 1px solid #51515a;
    font-size: 20px;
    color: white;
    background-color: #27272a;
    transition: background-color 0.4s ease-in-out;
}

.login-button:hover{
    background-color: #3d3d41;
}

.regitser-form, .login-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

label{
    color: #a1a1aa;
    font-size: 16px;
    font-family: sans-serif;
}

input{
    color: #a1a1aa;
    font-family: sans-serif;
    font-size: 16px;
    height: 40px;
    width: 350px;
    border-radius: 15px;
    background-color: #3f3f46;
    border: 1px solid #52525b;
    text-indent: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
    border: 1px solid #7c3aed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #3f3f46 inset !important; /* match your background */
    -webkit-text-fill-color: #a1a1aa; /* match your text color */
    background-color: #3f3f46;;
    transition: background-color 5000s ease-in-out 0s; /* hack to keep background consistent */
}

.field-container{
    display: flex;
    flex-direction: column;
}

.register-page-heading, .login-page-heading{
    margin-bottom: 15px;
}

.register-page-button, .login-page-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-redirect-para, .register-redirect-para{
    color: #a1a1aa;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.login-redirect-link, .register-redirect-link{
    text-decoration: none;
    color: #a78bfa;
}

.login-redirect-link:hover, .register-redirect-link:hover{
    text-decoration: underline;
}

.input-invalid{
    border: 1px solid #f87171;
}

.label-invalid{
    color: #f87171;
}

.alert-message{
    color: #f87171;
    font-size: 14px;
    margin: 0px;
    font-family: sans-serif;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.to-do-list-heading{
    margin: 30px 0px 0px 30px;
    font-family: sans-serif;
    color: white;
}

.logout-button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background-color: #3f3f46;
    border: none;
    margin: 30px 20px 0px 0px;
}

.logout-button:hover{
    background-color: #52525b;
    cursor: pointer;
}

.task-input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.task-input{
    width: 70%;
}

.filter-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.filter-button{
    height: 40px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background-color: #3f3f46;
    border: none;
    margin: 10px 15px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.filter-button:hover{
    background-color: #52525b;
    cursor: pointer;
}

.active{
    background-color: #7c3aed;
}

.active:hover{
    background-color: #7c3aed;
}

.clear-completed-button{
    color: #f87171;
}

.tasks-container{
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 10px 0px 10px 0px;
    overflow: auto;
    
}

.task{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 80%;
    background-color: #3f3f46;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    
}

.task-left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: left;
}

.task-checkbox-unchecked{
    height: 25px;
    width: 25px;
    margin: 5px 0px 5px 10px;
    background-image: url('../assests/checkbox-unchecked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: #3f3f46;
    border: none;
    border-radius: 5px;
}

.task-checkbox-checked{
    height: 25px;
    width: 25px;
    margin: 5px 0px 5px 10px;
    background-image: url('../assests/checkbox-checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: #3f3f46;
    border: none;
    border-radius: 5px;
}

.task-checkbox-checked:hover, .task-checkbox-unchecked:hover{
    cursor: pointer;
    background-color: #52525b;
}


.task-text{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: 5px 0px 5px 10px;
}

.task-right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 50%;
}



.delete-img{
    background-image: url('../assests/delete-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 25px;
    width: 25px;
    background-color: #3f3f46;
    border: none;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.delete-img:hover{
    background-color: #52525b;
    cursor: pointer;
}

.edit-img{
    background-image: url('../assests/edit-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 25px;
    width: 25px;
    background-color: #3f3f46;
    border: none;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.edit-img:hover{
    background-color: #52525b;
    cursor: pointer
}

.edit-task-input{
    height: 24px;
    width: 75%;
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.completed-task-text{
    text-decoration: line-through;
}

/* Small tablets / large phones (≤ 768px) */
@media screen and (max-width: 768px) {
  .heading {
    margin: 15px 0px 0px 20px;
    font-size: 32px;
  }

  .top-bar{
    display: flex;
    align-items: center;
  }

  .filter-button-container{
    display: flex;
    flex-wrap: wrap;
  }

  .all-filter-button{
    margin-left: 5px;
  }

  .register-button, .login-button, .field-container{
    width: 80%;
  }

  input{
    width: 96%;
  }

  .register-page-heading{
    margin-left: 0px;
  }
}

/* Phones (≤ 480px) */
@media screen and (max-width: 480px) {
  .heading {
    margin: 15px 0px 0px 10px;
    font-size: 32px;
  }

  .register-page-heading{
    margin-left: 0px;
  }

  .filter-button-container{
    display: flex;
    flex-wrap: wrap;
  }

  .all-filter-button{
    margin-left: 5px;
  }

  .register-button, .login-button, .field-container{
    width: 80%;
  }

  input{
    width: 96%;
  }
}

